.service-section {
    padding: 100px 0px;
}
.container{}
.row{}
.service {
    padding: 25px;
}

.col-xl-12{}
.col-xl-4{}
h6{
    text-transform: uppercase;
    font-size: 16px;
    color: #1616ad;
}
h1{
    text-transform: capitalize;
    font-weight: initial;
    margin-bottom: 26px;
    margin-top: 17px;
    font-size: 31px;
}
h3{
    font-size: 24px;
    margin: 18px 0px;
}
p{
    font-size: 15px;
}

.community-section {
    padding: 115px 0px;
    background-color: #080025eb;
}

h5 {
    color: #d0d0d08c;
    text-transform: lowercase;
    font-size: 15px;
    line-height: 1.5;
}
.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
    color: #333333eb;
    font-size: 17px;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-weight: 500;
}
.navbar-nav .nav-link:hover{
	color: #1616ad;
}
.partners-section {
    padding: 100px 0px;
}

.partners-section h1 {
    font-weight: 400;
    line-height: 1.2;
    font-size: 60px;
}

.footer-section{
	padding: 80px 0px;
}

.footer-section{}

strong{

}
.list-unstyled a {
    color: #867878;
    line-height: 1.6;
}
.footer-section {
    background-color: #f3f3f338;
}